<mat-toolbar color="primary" class="elevate-menu">
  <span class="title">CryptoNerdClub</span>

  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/coins">Coins</button>
  <button mat-button routerLink="/exchanges">Exchange</button>

  <!-- <button mat-button [matMenuTriggerFor]="mainMenu">Main</button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>    
    <button mat-menu-item routerLink="/coins">Coins</button>
    <button mat-menu-item routerLink="/exchanges">Exchanges</button>
  </mat-menu> -->

  <!-- <button mat-button [matMenuTriggerFor]="analysisMenu">Analysis</button>
  <mat-menu #analysisMenu="matMenu">
    <button mat-menu-item routerLink="/chart">Chart</button>
    <button mat-menu-item routerLink="/correlation">Correlation</button>
  </mat-menu> -->

  <!-- <button mat-button [matMenuTriggerFor]="settingsMenu">Options</button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item routerLink="/settings">Settings</button>
  </mat-menu> -->

</mat-toolbar>