<mat-card class="example-card" *ngIf="(repo | async) as rep">
  <mat-card-header>
    <img mat-card-avatar [src]="rep.owner?.avatar_url">
    <mat-card-title>{{rep.name}}</mat-card-title>

    <mat-card-subtitle>
      <span>{{rep.description}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <span>{{rep.stargazers_count | number}} stars,</span>
        <span> {{rep.forks_count | number}} forks</span>
    </mat-card-subtitle>
    <mat-card-subtitle><span>{{rep.license?.name}}</span></mat-card-subtitle>
    <mat-card-subtitle>
        <span>created : {{rep.created_at | date:'dd/MM/yyyy, h:mm a'}} , </span>
        <span>updated : {{rep.updated_at | date:'dd/MM/yyyy, h:mm a'}}</span>
    </mat-card-subtitle>

    <mat-card-subtitle>
      <mat-chip-list *ngIf="(topics | async)?.data.names as tps">
          <mat-chip color="accent" selected *ngFor="let topic of tps">{{topic}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>

    <mat-card-subtitle>
      <mat-chip-list *ngIf="(languages | async)?.data as langs">
          <mat-chip color="primary" selected *ngFor="let lang of langs | keyvalue">{{lang.key}}:{{lang.value}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <repo-contributors
      [contributors]="contributors | async"
      (clickContri)="contriClicked($event)">
    </repo-contributors>
  </mat-card-content>
</mat-card>



