<ngx-datatable #mydatatable
    class="material" 
    [limit]="50" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    summaryRow=true [summaryPosition]="'top'" [summaryHeight]="'auto'"
    [rows]="rows" [columns]="columns"
    [sorts]="[{prop: 'weekVolume', dir: 'desc'}]"
    (activate)="clickRow($event)">
</ngx-datatable>

<ng-template #pieSummaryCell let-row="row" let-value="value">
    Pie chart
</ng-template>

<ng-template #currencyCell let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
    <div>{{value | currency}}</div>
</ng-template>

<ng-template #numberCell let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
    <div>{{value | number:'1.1-2'}}</div>
</ng-template>

<ng-template #supplyCell let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
    <div>{{row.availableSupply}} / {{row.maxSupply}}</div>
</ng-template>